<h1 class="title">Network Manage Dashboard</h1>

<div class="summary">
  <div class="summary__left">
    <p>Dandelion Enterprise+ Edition</p>
    <span>
      <i class="summary__left__expire">Expiration time: {{accountInfo.expiredtime | date}}</i>
      <a mat-button routerLink="/upgrade">upgrade</a>
    </span>
  </div>
  <div class="summary__right">
    <p>Super member</p>
    <span class="member-count">
      <span class="used-count">{{accountInfo.usedrouter}}</span>
      /
      <span class="total-count">{{accountInfo.routernum}}</span>
    </span>
    <p>Used / Total</p>
  </div>
</div>

<div class="network-list">
  <div class="subtitle">
    Networking list
  </div>
  <div class="header">
    <button class="create-network-btn" mat-raised-button color="primary">
      <mat-icon>add</mat-icon>
      Create a network
    </button>
    <mat-button-toggle-group name="viewStyle" value="card">
      <mat-button-toggle value="card">
        <mat-icon>view_module</mat-icon>
        Card
      </mat-button-toggle>
      <mat-button-toggle value="list">
        <mat-icon>list</mat-icon>
        List
      </mat-button-toggle>
    </mat-button-toggle-group>
  </div>
  <mat-grid-list cols="2" rowHeight="250px">
    <mat-grid-tile *ngFor="let network of networks">
      <mat-card class="network-item" *ngIf="networkState[network.networkid]">
        <mat-card-title class="item-title">
          <span>
            <i class="network-name">{{network.name}}</i>
            <mat-chip *ngIf="network.isdefault" color="primary" disableRipple>default</mat-chip>
          </span>

          <span class="network-desc">
            <i>{{network.type === 0 ? 'Peer-to-peer Network' : 'Service Client Network'}}</i>
            <i>{{network.linename}}</i>
          </span>
        </mat-card-title>
        <mat-card-content>
          <div class="counter">
            <p class="counter__title">Hardware member</p>
            <span class="counter__count">
        <span class="counter__count__value">
          <i class="counter__count__value__online">{{networkState[network.networkid].router}}</i>
          /
          <i class="counter__count__value__total">{{network.routernum}}</i>
        </span>
        <span class="counter__count__tag">
          Online / Total
        </span>
              <mat-progress-bar mode="determinate" value="{{networkState[network.networkid].router/network.routernum * 100}}" style="margin-top: 5px"></mat-progress-bar>
      </span>
          </div>
          <div class="counter">
            <p class="counter__title">Server member</p>
            <span class="counter__count">
        <span class="counter__count__value">
          <i class="counter__count__value__online">{{networkState[network.networkid].server}}</i>
          /
          <i class="counter__count__value__total">{{network.servernum}}</i>
        </span>
        <span class="counter__count__tag">
          Online / Total
        </span>
              <mat-progress-bar mode="determinate" value="{{networkState[network.networkid].server/network.servernum * 100}}" style="margin-top: 5px"></mat-progress-bar>
      </span>
          </div>
        </mat-card-content>
        <mat-card-actions>
          <a mat-button routerLink="/detail/{{network.networkid}}">See Details</a>
          <a mat-button routerLink="/detail/1">More</a>
        </mat-card-actions>
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>
</div>
