<h1 class="title">Network Manage Dashboard</h1>

<div class="network-select">
  <mat-form-field appearance="outline">
    <mat-label>Network</mat-label>
    <mat-select [(value)]="currentNetworkId">
      <mat-option *ngFor="let network of networks" value="{{network.networkid}}" routerLink="/detail/{{network.networkid}}">
        {{network.name}}
      </mat-option>
    </mat-select>
  </mat-form-field>
</div>


<mat-card *ngIf="currentNetwork" class="network-summary">
  <mat-card-content>
    <mat-grid-list cols="3" rowHeight="3:1" [gutterSize]="'20px'">
      <mat-grid-tile class="network-summary__item">
        <span>
          <b>Network type:</b>
          {{currentNetwork.type === 0 ? 'Peer-to-peer Network' : 'Service Client Network'}}
        </span>
      </mat-grid-tile>
      <mat-grid-tile class="network-summary__item" >
        <span>
          <b>Network Line: </b>
          {{currentNetwork.linename}}
        </span>
      </mat-grid-tile>
      <mat-grid-tile class="network-summary__item" >
        <span>
          <b>Network Members: </b>
        </span>
      </mat-grid-tile>
      <mat-grid-tile class="network-summary__item" >
        <span>
          <b>Network ID: </b>
          {{currentNetwork.networkid}}
        </span>
      </mat-grid-tile>
      <mat-grid-tile class="network-summary__item" >
        <span>
          <b>Network Access Method: </b>
          No one is allowed to join the network
          <a mat-button href="#">settings</a>
        </span>
      </mat-grid-tile>
      <mat-grid-tile class="network-summary__item" >
        <span>
          <b>Network Resources: </b>
          <a mat-button href="#">settings</a>
        </span>
      </mat-grid-tile>
    </mat-grid-list>
  </mat-card-content>
</mat-card>

<div class="member-list" *ngIf="currentNetwork">
  <div class="header">
    <button class="create-network-btn" mat-raised-button color="primary" (click)="addMemberForNetwork(currentNetworkId)">
      <mat-icon>add</mat-icon>
      Add A Device
    </button>
    <button class="create-network-btn" mat-stroked-button color="primary">
      Network Settings
    </button>
  </div>

  <div class="member-list__content">
    <table mat-table [dataSource]="memberDataSource" class="mat-elevation-z8">
      <ng-container matColumnDef="sn">
        <th mat-header-cell *matHeaderCellDef>
          SN / UID / SID
        </th>
        <td mat-cell *matCellDef="let member">
          {{member.member}}
        </td>
      </ng-container>
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef>
          Name
        </th>
        <td mat-cell *matCellDef="let member">
          {{member.clientmemo}}
        </td>
      </ng-container>
      <ng-container matColumnDef="attribute">
        <th mat-header-cell *matHeaderCellDef>
          Member Attributes
        </th>
        <td mat-cell *matCellDef="let member">
          wtf
        </td>
      </ng-container>
      <ng-container matColumnDef="vpn">
        <th mat-header-cell *matHeaderCellDef>
          VPN Status
        </th>
        <td mat-cell *matCellDef="let member">
          <mat-slide-toggle [checked]="member.state === 1"></mat-slide-toggle>
        </td>
      </ng-container>
      <ng-container matColumnDef="ip">
        <th mat-header-cell *matHeaderCellDef>
          IP Address
        </th>
        <td mat-cell *matCellDef="let member">
          {{member.clientinfo?.ip ? member.clientinfo?.ip : member.virtualip}}
        </td>
      </ng-container>
      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef>
          Actions
        </th>
        <td mat-cell *matCellDef="let member">
          <div class="actions">
            <button mat-raised-button (click)="listDevices(member.member)">Device List</button>
            <button mat-button>Remove from network</button>
          </div>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </div>
</div>
